@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");

#feature1title {
  text-align: right;
  font-family: "Licorice", cursive;
}

#feature1p {
  font-family: "Quattrocento", serif;
}
