@import url("https://fonts.googleapis.com/css2?family=Quattrocento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");

#newsletteremail {
  font-family: "Quattrocento", serif;
}

#newsletterbutton {
  font-family: "Quattrocento", serif;
}

#newsletterbg {
  background-color: #dedfe1;
}

#newslettertitle {
  font-family: "Licorice", cursive;
}
